---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Masonry from '../../components/Masonry.astro';
import { getInspoData } from '../../data/inspo-data';
import InspoItem from '../../components/InspoItem.astro';

const inspoData = await getInspoData();
---

<BaseLayout title="Inspo" description="A collection of media that has accumulatively changed my life." showHeader={false}>
    <section class="py-2">
        <p class="py-8">A collection of media that has accumulatively changed my life.</p>
        <Masonry>
            {inspoData.map((item) => <InspoItem data={item} />)}
        </Masonry>
    </section>
</BaseLayout>
