---

---

<div class="masonry">
    <slot />
</div>

<script>
    import MiniMasonry from 'minimasonry';

    new MiniMasonry({
        container: '.masonry',
        baseWidth: 180,
        gutter: 10,
        minify: false
    });
</script>
