---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Masonry from '../../components/Masonry.astro';
import { workData } from '../../data/work-data';
import WorkItem from '../../components/WorkItem.astro';
---

<BaseLayout
    title="work"
    description="a list of work and projects I have done"
    image={{ src: '/tad-preview.jpg', alt: 'preview image of my site' }}
    showHeader={false}
>
    <h1 class="mb-6 text-2xl leading-tight font-serif italic sm:text-4xl">work</h1>
    <section class="pb-16">
        <Masonry>
            {
                workData.map((data) => {
                    return <WorkItem data={data} />;
                })
            }
        </Masonry>
    </section>
</BaseLayout>
